* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
  height: 100vh;
}

.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #020617;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #1e293b;
}

.sidebar-top {
  text-align: center;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu button {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #1e293b;
  background: #0f172a;
  color: white;
  cursor: pointer;
}

.menu button:hover {
  transform: scale(1.1);
  transition: 0.6s ease;
  background: #38bdf8;
  color: black;
}

/* MAIN */
.main-content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #38bdf8;
}

header p {
  color: #94a3b8;
}

/* CAIXA CENTRAL */
.content-box {
  flex: 1;
  border: 2px solid #1e293b;
  border-radius: 20px;
  background: #020617;
}



